<footer class="w-full flex justify-center flex-wrap">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-28 gap-y-5 pt-10">
        <div class="mb-4 md:mb-0 w-50">
            <p class="font-bold">Documentation</p>
            <ul>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >Getting Started</a>
                </li>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >Inserting Tags</a>
                </li>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >Extensions</a>
                </li>
            </ul>
        </div>
        <div class="mb-4 md:mb-0 w-50">
            <p class="font-bold">Learn More</p>
            <ul>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >How Breezey Integrates AI</a>
                </li>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >Protecting Users Privacy</a>
                </li>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >Keeping Your Data Safe</a>
                </li>
            </ul>
        </div>
        <div class="mb-4 md:mb-0 w-50">
            <p class="font-bold">About Us</p>
            <ul>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >What is Breezey?</a>
                </li>
                <li class="p-1">
                    <a
                        href="#"
                        class="text-zinc-700 dark:text-stone-300 font-medium hover:text-slate-800 dark:hover:text-black"
                        >About the Company</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<p class="text-xs text-center mt-4 mb-4">© Liam Martin 2023</p>
