@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }
}

@layer components {
  
  .content-grid {
    --padding-inline: 6rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;
  
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }
  
@media (max-width: 640px) {
  .content-grid {
    --padding-inline: 3rem;
  }
}
  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }
  
  .content-grid > .breakout {
    @apply bg-blue-500;
    grid-column: breakout;
  }
  
  .content-grid > .full-width {
    @apply bg-blue-800;
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
  }
  
  img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
  }

  .flow > * + * {
    margin-top: var(--flow-spacing, 1em);
  }

}
  